/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media screen and (max-width: 768px) 
{
    .headimg_s{
        display: block; margin: auto;
    }
    .headimg_pc{
        display:none;
    }
    .grovalNavigation{
        height: 64px;
        text-align: center;
        background-color: #888;
        color: #fff;
        width: 100%;
        margin-bottom: 40px;
    }
    main{
        min-height: 100vh;
        display: flex;
        margin-top: 10px;
    }
    .content{
        flex: 1;
        background-color: #eee;
        text-align: center;
        border-top: solid;
        border-top-color: #000;
        border-top-width: 6px;
        width: 100%;
        padding: auto;
    }
    .localNavigation{
        width: 300px;
        text-align: center;
        color: #fff;
        display: none;
    }

    .bnrArea_sp{
        width: 100%;
        height: 30px;
    }
    .main_inner{
    width: 100%;
    margin: 0 auto;
    padding: 30px 0px 80px;
    align-items: center;
    }
    body{
        display: flex;
        flex-direction: column;
        -webkit-text-size-adjust: 100%;
        font-family: Arial, Helvetica, sans-serif, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック";
        font-size: 14px;
    }
    .twitter-timeline{
        border: 1px solid #333;
        padding: 10px;
        margin-top: 1em;

      }

    ul {
        margin: 10px 0 10px 0;
        padding: 0 0 0 0;
        list-style-type: none;
        background-color: #eeeeee;
        align-items: flex-start;
        justify-content: space-between;
        display:flex;
        height: auto;
    }
    li a {
        display: block;
        text-decoration: none;
        color: #000000;
        border-bottom: #000000;
        border-right: 1px solid #000;
        border-left: 1px solid #000;
        width: 93.5px;
        height: 50px;
    }
    li {
        text-align: center;
        width: 93.5px;
        height: auto;
    }
    li:last-child {
        border-bottom: none;
        width: 93.5px;
    }
    li a.active {
        color: #ffffff;
        background-color: #000000;
        width: 93.5px;
    }
    li a:hover:not(.active) {
        color: #ffffff;
        background-color: #1b2538;
        width: 93.5px;
    }
    .heading--lv2 {
        margin-bottom: 25px;
        padding-bottom: 13px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        font-family: Arial, Helvetica, sans-serif, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック";
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 1.2;
        word-break: break-word;
    }

}

/*PC用*/
@media screen and (min-width: 768px) {
body{
    display: flex;
    flex-direction: column;
    -webkit-text-size-adjust: 100%;
    font-family: Arial, Helvetica, sans-serif, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック";
}
.grovalNavigation{
    height: 300px;
    text-align: center;
    background-color: #888;
    color: #fff;
}
main{
    min-height: 100vh;
    display: flex;
    margin-top: 10px;
}
.content{
    flex: 1;
    background-color: #eee;
    text-align: center;
    margin-left: 10px;
    border-top: solid;
    border-top-color: #000;
    border-top-width: 6px;
}

.localNavigation{
    width: 300px;
    text-align: center;
    color: #fff;
}

ul {
	width: 300px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #eeeeee;
}
li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: #000000;
    border-bottom: #000000;
}
li {
	text-align: center;
}
li:last-child {
	border-bottom: none;
}
li a.active {
	color: #ffffff;
	background-color: #000000;
}
li a:hover:not(.active) {
	color: #ffffff;
	background-color: #1b2538;
}

.timeline {
    border: 1px solid #333;
    padding: 10px;
    margin-top: 1em;
  }

.main_inner
{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 10px 80px;
}
.main__inner [class*="widget-"] {
    border-top-color: #000;
    color: #000;
}
.main__inner [class*="widget-"] {
    border-top-width: 4px;
    border-top-style: solid;
    font-size: 1.3rem;
}

.heading--lv2 {
    margin-bottom: 25px;
    padding-bottom: 13px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-family: Arial, Helvetica, sans-serif, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック";
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.2;
    word-break: break-word;
}

article, aside, details, figcaption, figure, footer, header, hgroup, hr, nav, section {
    display: block;
}

.bnrArea_sp{
    display: none;
}
.headimg_s{
    display: none;
}
}
